* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    background-color: #1F2226;
}

.container {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.header {
    padding-top: 10px;
    padding-bottom: 55px;
    background-color: #1F2226;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.header-img {
    width: 81.538px;
    height: 60px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-item {
    list-style: none;
}

.header-link {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 23.25px */
    text-decoration: none;
}

.header-item-btn {
    list-style: none;
    background-color: #2A2D31;
    padding: 10px 14px 11px 11px;
    border-radius: 5px;
    margin-left: 7px;
    align-items: center;
}

.header-link-btn {
    text-decoration: none;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 23.25px */
}



/* section seo */
.seo {
    padding-top: 32px;
    padding-bottom: 56px;
}

.seo-container {
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
}

.seo-img {
    width: 100%;
}

.seo-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 29.412px;
    opacity: 0.2;
    font-style: normal;
    font-weight: 400;
    line-height: 91%;
    /* 26.765px */
    letter-spacing: -0.294px;
    margin-bottom: 10px;
}



/* about */
.about {
    padding-bottom: 130px;
    background-color: #1F2226;
}

.about-container {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-right: none;
}

.about-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 43.5px */
    width: 975px;
    margin-bottom: 10px;
}

.about-text-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    width: 894px;
    font-style: normal;
    font-weight: 900;
    line-height: 91%;
    /* 68.25px */
    letter-spacing: -0.75px;
    background: linear-gradient(128deg, #3AB110 12.93%, #9DE12C 65.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 36px;
}

.about-text-3 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    width: 868px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 43.5px */
    margin-bottom: 60px;
}

.about-box {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.about-box-left {
    display: inline-flex;
    padding: 25px 30px 40px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
}

.about-box-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    opacity: 0.3;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    /* 31px */
}

.about-box-text-1 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    width: 400px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 43.5px */
}

.about-box-span {
    color: #2178FF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.about-box-right {
    display: block;
    flex-direction: column;
}

.about-box-right-1 {
    display: inline-flex;
    padding: 25px 30px 40px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 25px;
}

.about-box-right-1-1 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 350px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    /* 31px */
    opacity: 0.3;
}

.about-box-right-1-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 350px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 43.5px */
}

.about-box-right-2 {
    display: inline-flex;
    padding: 25px 30px 40px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
}

.about-box-right-2-1 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    /* 31px */
    width: 350px;
    opacity: 0.3;
}

.about-box-right-2-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 43.5px */
    width: 350px;
}

.about-container-box {
    display: inline-flex;
    padding: 35px 30px 40px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #FEF6AE;
    display: block;
    width: 920px;
}

.about-container-box-text {
    color: #1F2226;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    width: 860px;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
}

.about-container-text {
    color: #1F2226;
    font-family: 'SF Pro Display', sans-serif;
    width: 860px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}




/* service */
.service {
    padding-bottom: 120px;
}

.service-container {
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
}

.service-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    margin-bottom: 60px;
    width: 932px;
    margin-left: 170px;
    font-weight: 900;
    line-height: 100%;
    /* 50px */
    letter-spacing: -0.5px;
}

.service-box-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.service-img {
    width: 843px;
    height: 630px;
}

.service-title {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 7px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    /* 43.5px */
}

.service-box-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 35px;
    width: 383px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
}

.service-box-text-month {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.service-box-reclama {
    display: block;
}

.service-box-left-text-box {
    width: 345px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #222c57;
    margin-bottom: 5px;
}

.service-box-left-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.4px;
}

.service-box-left-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 17.55px */
    width: 138px;
    opacity: 0.4;
}

.service-box-left-text-3 {
    color: #47B814;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 20.15px */
    letter-spacing: -0.65px;
}

.service-box-left-left-div {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.service-box-left-text-box-1 {
    width: 170px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 13px;
    display: flex;
    justify-content: space-between;
    background: #29464a;
}

.service-box-left-text-box-2 {
    border-radius: 10px;
    background: rgba(142, 248, 125, 0.10);
    flex-shrink: 0;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 91px;
}

.service-box-left-right-div {
    display: flex;
    gap: 5px;
}

.service-container-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.service-box-left-text-7 {
    opacity: 0.4;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 110px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 17.55px */
}

.service-box-left-text-4 {
    opacity: 0.4;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 17.55px */
}

.service-box-left-text-5 {
    opacity: 0.4;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 17.55px */
}

.service-box-left-text-6 {
    opacity: 0.4;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 110px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 17.55px */
}

.service-box-left-text-box-3 {
    width: 170px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5d5a43;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.service-box-left-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.4px;
}

.service-box-left-span {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}

.service-box-left-text-box-4 {
    width: 170px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #4e344e;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 10px;
}




/* contact */
.contact {
    padding-bottom: 30px;
}

.contact-box {
    display: flex;
    gap: 100px;
}

.contact-left-title {
    font-family: 'SF Pro Display', sans-serif;
    background: linear-gradient(91deg, #09C8FF 0.36%, #0061FD 99.64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 20.15px */
    letter-spacing: 0.78px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-left-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    width: 767px;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    /* 50px */
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}

.contact-left-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 600px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
}

.contact-right {
    margin-top: 300px;
}

.contact-right-title {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    /* 77px */
}

.contact-right-text {
    color: #FFF;
    font-family: SF 'Pro Display', sans-serif;
    width: 182px;
    margin-bottom: 34px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.contact-right-title-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 3px;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    /* 77px */
}

.contact-right-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 210px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.contact-box-left {
    display: flex;
    margin-left: -30px;
    padding-top: 35px;
}

.contact-box-left-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    width: 600px;
}

.contact-box-left-b {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
}



/* intel */
.intel {
    padding-bottom: 60px;
}

.intel-container {}

.intel-img {
    width: 100%;
    margin-bottom: 15px;
}

.intel-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 585px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
    margin-bottom: 65px;
}

.intel-left {
    display: flex;
    margin-left: -30px;
    margin-bottom: 10px;
}

.intel-left-title {
    width: 600px;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
}

.intel-left-item {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 600px;
    margin-left: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
}

.intel-box-right {
    display: flex;
    margin-left: -30px;
    margin-top: 30px;
}

.intel-box-right-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    width: 660px;
}

.intel-box-right-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
}



/* silver */
.silver {
    padding-bottom: 90px;
}

.silver-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 960px;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    /* 55px */
    margin-bottom: 30px;
}

.silver-text-b {
    color: rgba(250, 250, 250, 0.60);
    font-family: 'SF Pro Display', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.silver-text-item {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 600px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
}



/* step */
.step {
    padding-bottom: 30px;
}

.step-box {
    display: flex;
    gap: 100px;
}

.step-left {
    margin-bottom: 30px;
}

.step-box-title {
    font-family: 'SF Pro Display', sans-serif;
    background: linear-gradient(270deg, #FFD12E 0%, #F86C1E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 20.15px */
    letter-spacing: 0.78px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.step-box-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    width: 724px;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    /* 50px */
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}

.step-box-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 600px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
    margin-bottom: 30px;
}

.step-box-text-3 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    width: 600px;
    line-height: 155%;
    /* 31px */
    margin-bottom: 10px;
}

.step-box-item {
    margin-left: 20px;
    width: 600px;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
}

.step-box-right {
    margin-top: 260px;
}

.step-box-right-title {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    /* 77px */
}

.step-box-right-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 247px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.step-box-div {
    display: flex;
    margin-left: -30px;
}

.step-box-right-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 600px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.step-box-right-text-2-b {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
}




/* application */
.application {
    padding-bottom: 55px;
}

.application-box {
    display: flex;
    gap: 20px;
    margin-bottom: 55px;
}

.application-img {
    margin-bottom: 15px;
}

.application-text {
    width: 400px;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.application-text-2 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 352px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.application-text-3 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 660px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
    margin-bottom: 30px;
}

.application-box-img {
    margin-bottom: 15px;
}

.appication-box-text {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    width: 622px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}




/* format */
.format {
    padding-bottom: 50px;
}

.format-box {
    display: flex;
    margin-left: -30px;
}

.format-container {
    display: block;
}

.format-text {
    width: 620px;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 30px;
}

.format-text-b {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    /* 31px */
}

.format-img {
    margin-bottom: 15px;
}

.format-text-2 {
    color: #FFF;
    width: 720px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    /* 23.25px */
}

.format-text-3 {
    color: #FFF;
    width: 620px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 31px */
}